

deployment:
  nameOverride: argo-image-updater
  fullnameOverride: argo-image-updater
  #registries:
  #  - name: Docker Registry MW Local
  #    prefix: docker-registry.mw.local
  #    api_url: https://docker-registry.mw.local
  #    default: true
  #    insecure: true
  initContainers: 
    - name: add-trusted-ca-certificates
      image: alpine:3.8
      command: [sh, -c]
      securityContext:
        runAsUser: 0
        runAsNonRoot: false
      args: 
        - | 
          apk add --upgrade ca-certificates && \
          update-ca-certificates && cp -r /etc/ssl/certs/* /artifact/
      volumeMounts:
        - mountPath: /usr/local/share/ca-certificates/homelab-root-ca.pem
          subPath: homelab-root-ca.pem
          name: trusted-ca-certificates
          readOnly: true
        - mountPath: /artifact
          name: tmp
          readOnly: false
  volumeMounts:
      - name: tmp
        mountPath: /etc/ssl/certs
        readOnly: false
  volumes:
    - name: trusted-ca-certificates
      configMap:
        name: homelab-root-ca-bundle
        items:
          - key: root-certs.pem
            path: root-certs.pem
    - name: tmp
      emptyDir: {}