

deployment:
  nameOverride: argo-image-updater
  fullnameOverride: argo-image-updater
  #registries:
  #  - name: Docker Registry MW Local
  #    prefix: docker-registry.mw.local
  #    api_url: https://docker-registry.mw.local
  #    default: true
  #    insecure: true
  initContainers: 
    - name: add-trusted-ca-certificates
      image: alpine:3.8
      command: [sh, -c]
      args: 
        - | 
          cp /certs/root-certs.pem /usr/local/share/ca-certificates/homelab-root-ca.pem && update-ca-certificates
      volumeMounts:
        - mountPath: /certs
          name: trusted-ca-certificates
          readOnly: true

  volumes:
    - name: trusted-ca-certificates
      configMap:
        name: homelab-root-ca-bundle
        items:
          - key: root-certs.pem
            path: root-certs.pem