

deployment:
  nameOverride: argo-image-updater
  fullnameOverride: argo-image-updater
  #registries:
  #  - name: Docker Registry MW Local
  #    prefix: docker-registry.mw.local
  #    api_url: https://docker-registry.mw.local
  #    default: true
  #    insecure: true
  initContainers: 
    - name: add-trusted-ca-certificates
      image: alpine:3.8
      command: [sh, -c]
      securityContext:
        runAsUser: 0
        runAsNonRoot: false
      args: 
        - | 
          apk add --upgrade ca-certificates && \
          update-ca-certificates && cp -r /etc/ssl/certs/* /artifact/
      volumeMounts:
        - mountPath: /usr/local/share/ca-certificates/homelab-root-ca.crt # aparently need to change extension
          subPath: homelab-root-ca.crt
          name: trusted-ca-certificates
          readOnly: true
        - mountPath: /artifact
          name: tmp-storage
          readOnly: false
  volumeMounts:
      - name: tmp-storage
        mountPath: /etc/ssl/certs
        readOnly: false
  volumes:
    - name: trusted-ca-certificates
      configMap:
        name: homelab-root-ca-bundle
        items:
          - key: root-certs.pem
            path: homelab-root-ca.crt
    - name: tmp-storage
      emptyDir: {}
  extraObjects:
    - apiVersion: bitnami.com/v1alpha1
      kind: SealedSecret
      metadata:
        name: ssh-git-creds
        namespace: argocd
      spec:
        encryptedData:
          sshPrivateKey: AgAVr8+VlNeo78B4/sjILm2vIWXgG9DNWtxUGMHJ7cRiEZd51e2wG3t0LFogkmFYoSf95TeGsSL5of29TPLCfuai6EfbZEyVbKWUnpj22R7W6nKFipxo579O0P7DafKHuLmuVk3Jgtk9byyr+aO3G2uAGQZIETaZFoNqjnsCEcvLshvaJlDmyZ4OqS3uA4sBRInGnk8NiMbMzuQQ1IjeUlBcq+zh5vbi2DZTjJroYjQk5udI54UFRv9HXw6bMqEiZMsMQbHfmwUSkjVolQff/kTZNDjqnfuDm8i4vPfZbFAfbYW4t7XGZ80k8n4HUE0RAAKTn+0gJB4tJXPaiDLD7tV2x39LjHtHsux878V8z/e/l88QaY1KQPg9nykIWtoCGePJTXWmT97Flx9mi7BZz/omVFF39AiUHWHZdEvAZ8ppNhZr7SahTZqVz3wFxH8Hkozu/86w6TUKKRWSxDYKjILP+p4SqIyv1dYAkCHdpCM6Pf6OAOqDifFo1xkMVmZ7TK87WqGBJ7StwxHzYrE2Ne1GJwPAVSdNriUxOCZxsXr/EAmtiZuUsoQsEAdpR0Cr02eXCLULMnRmHKE8ZvoDCtpIYdw3cJRGx0gfROiTMOr8WDnSo4TMl+yrAiWBiwPvGsxialw7JYBGqWpsTK0Ixgsa9Y7DYf/C0YIkhczm6C1lPKYaRNy0gLc25lssBMcN5zXwguSIEP6DSlD4dTI9zlIi907uXvvQqHOwIMjT6Cn3LiPZ/YiNKPgHbiwGebcDw/RNvoU47Ii5Y7Rm2H/J6lL9nutfABUIlHo7qh6KZQ39J/UeFqZligVSGquDe+tnLK1DNqo8rgO8vJXrXWPS54r/r7CiSOXn640uwo5qoekQwC0KnKKXTqPOSc7ZoCR3qtYRiv6O/N/ctlvUoU+Eisb0/jl09Ho9QvlfVroF3h9ypJswi28Q9qDJMbHfgGrMGM0METEDpETHRO70kBVsYVZqLFB6CmAnaW0/4Kp4I0CGLC3hAbzjK3RrZbJZBq4rpfaUuy+5pIIzodD5K2iFnOHyXFKVG5F00Lid7NDiCWfPvfCFHF+7k03eODbTxisECHpGXt1G6ZWLO4Qdq1g7/43GPIYzxLtY/kSE57jw1G7GrzLJ2+FdgWecyWNrblHwiozCCf03pAg3mp73K7ywofzrb0GXzW03/wDyjtrOcvID8FZNGw81tWqyeohUjzPpFDEZLN8=
        template:
          metadata:
            name: ssh-git-creds
            namespace: argocd
          type: Opaque


