

deployment:
  nameOverride: argo-image-updater
  fullnameOverride: argo-image-updater
  #registries:
  #  - name: Docker Registry MW Local
  #    prefix: docker-registry.mw.local
  #    api_url: https://docker-registry.mw.local
  #    default: true
  #    insecure: true
  initContainers: 
    - name: add-trusted-ca-certificates
      image: alpine:3.8
      command: [sh, -c]
      securityContext:
        runAsUser: 0
        runAsNonRoot: false
      args: 
        - | 
          apk add --upgrade ca-certificates && \
          update-ca-certificates && cp -r /etc/ssl/certs/* /artifact/
      volumeMounts:
        - mountPath: /usr/local/share/ca-certificates/homelab-root-ca.crt # aparently need to change extension
          subPath: homelab-root-ca.crt
          name: trusted-ca-certificates
          readOnly: true
        - mountPath: /artifact
          name: tmp
          readOnly: false
  volumeMounts:
      - name: tmp
        mountPath: /etc/ssl/certs
        readOnly: false
      - mountPath: /app/.ssh
        name: ssh-key
        readOnly: true
  volumes:
    - name: trusted-ca-certificates
      configMap:
        name: homelab-root-ca-bundle
        items:
          - key: root-certs.pem
            path: homelab-root-ca.crt
    - name: ssh-key
      secret:
        secretName: github-ssh-key
        items: 
          - key: id_rsa
            path: id_rsa
    - name: tmp
      emptyDir: {}
  extraObjects:
    - apiVersion: bitnami.com/v1alpha1
      kind: SealedSecret
      metadata:
        name: ssh-git-creds
        namespace: argocd
      spec:
        encryptedData:
          id_rsa: AgDoHlI/C5p6/xofF64xyyXnfAg4fkCS3SURbdcH/0thmk8EjqIjbbrhbSFwOwuCHuIEL3OEbsZLYEFTXHAHHas8PYDeafb9ufT0z4DOPc10r4LA4AJml7EOTi7grANUIourSguRUU/M2SRir6JLE6P7IE+98Q02dwDnm2pok+IwLpJAn1eqaCKSPHZu9qwGSi+Ei4eahLwon0BNuouxIgT3mFoo8RP0ok50quCwAyblJIjvFr1j5EsxzFXTZDV7DQt81jh0rtxQXVh2i4HqTdjtMDBHmkizOzJ8PZF2ro9Ubemrx7IuhleVy7AzDMrmBGCv9FuNXFWGnsxrhPnnJmOWSDx5JLg0t1Jej3JgSbu+uUQCg3oi471yXJOIStRYy8hChM1Gwq9O7F0TfkWk3s1fIwynATeixo6GP2jqfJ3Y6O0YpYn2W9VnpQWv+ByhArMvaPnzLOiPnMS484uP0OHpT0bYSsXVv26JLzHLTEloQ7VnMAtY7n6D91bXOfVD5a60jrxjqJcEiRauPGqH6ITll0IKlF7hY+KOzNVsbcN2GUjiWv/fPl5iMjM6aHqsWI4vmFEAWid4hqoSWg697A169ZrKXayovDLwwprnAFhWQOobYYCrVzgsU5GREgK7nvJfXbAxfpWK4egGs16r1Bp7V5I/pArp/Q/wd7hsmfHby0U1pqlcwn8DBK62eXqb3lVGfh3wi2QbGxv1va5IMD2UuQvNIWt2EhPfEV+tTVYLh3UbOgh0Sx+BdysL1070H2yRrTtK7+l7diqVSkPi0Qp/+5ZSWU/vPNK4qKVu3J1Y/csK3pS1pFAF0K8c3cSKWIq4V8i8pU0b2tyAiVMEv7aECDt/GAbU9RY6gDLNRWJfofBYW0xloYbOo7GcRmOS96Iyfe0Bm+3jSVfFvO7N7k8LaTZBckCZbbWflS7yg5c/KjBH5ZBzbZ2lUnnazawdmDJwlvYhGiF9N+op9m4aZFlNrJBHcoufR8gebR+NY6RDRdBuPEX9Z4BfjAVTa2PmyYLyUbIQtZmVBHMfSyWfgUmejohkRS0LMD0tkIEE2VhFqYZbJyLV/rkieFFLA/PbWNUL1YWUY+WrOQSMYRKXIYVB6KLF2PitzVvnXgwfKb/XOVyGNTL12GLJUI2tIxWW7PqZX4cdZvBn3SuOmeVJX191mXaPMWKZy3u7dhkLSd6Vsp27eDwaPVMgLishi65mxG/Jj/I=
        template:
          metadata:
            name: ssh-git-creds
            namespace: argocd
          type: Opaque

