apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: kube-system
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`traefik.mw.local`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
  tls: 
    secretName: traefik-tls-secret
